// define color variables
$white-color: #fff;
$black-color: #141414;
$gray-color: #868686;

// define padding variables
$padding-s: 4px;
$padding-l: 8px;
$padding-x: 12px;
$padding-xx: 16px;
$padding-3x: 20px;
$padding-4x: 24px;
$padding-5x: 28px;
$padding-6x: 32px;

// define margin variables
$margin-s: 4px;
$margin-l: 8px;
$margin-x: 12px;
$margin-xx: 16px;
$margin-3x: 20px;
$margin-4x: 24px;
$margin-5x: 28px;
$margin-6x: 32px;

// define gap variables
$gap-s: 6px;
$gap-l: 8px;
$gap-x: 10px;
$gap-2x: 12px;
$gap-3x: 14px;
$gap-4x: 16px;
$gap-5x: 18px;
$gap-6x: 20px;

// define font size variables
$font-size-s: 8px;
$font-size-l: 10px;
$font-size-x: 12px;
$font-size-2x: 14px;
$font-size-3x: 16px;
$font-size-4x: 18px;
$font-size-5x: 20px;
$font-size-6x: 22px;
$font-size-7x: 24px;

// define border radius variables
$radius-s: 4px;
$radius-l: 8px;
$radius-x: 10px;
$radius-2x: 12px;
$radius-full: 100%;

// define time transition
$time-transition: 0.3s;
